body.microbes-demosite{
    margin:0;
    height:100vh;
    overflow:hidden;
    font-family:sans-serif;
}
.microbescontainer canvas{
    width:100%;
    height:100%;
    background-color:#070215;
    top:0px;
    left:0px;
}
#microbes1{
    width:100%;
    height:100%;
}
.microbescontainer{
    position: relative;
    overflow: hidden;
    --size:250px;
}
.microbescontainer .menu{
    width: var(--size);
    margin-right: calc(0px - var(--size));
    height: 100%;

    background-color: #22222299;
    /*! pointer-events: none; */

    color:white;
    transition: margin 0.5s;
    padding:5px;
    box-sizing:border-box;
    overflow-y: scroll;
    overflow-x:hidden;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
}
.microbescontainer .stats{
    word-break: break-all;
}

.menushown .menu{
    margin-right:0;
}
.menushown .menutrigger{
    right: var(--size);
}
.menutrigger{
    transition: right 0.5s;
    position: absolute;
    z-index: 1;
    font-size: 50px;
    color: white;
    opacity: 0.5;
    margin-right: 15px;
    cursor: pointer;
    right:0;
    float: right
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    top: 0;
}

.menu label+label{
    float: right;
    margin-right: 20px
}
.menu label{

}
.menu .slider{
    width: calc(100% - 55px);
    background: transparent;
    border:none;
    margin-bottom:15px;
    margin-top: 5px;
}
.menu .slider.reversed{
    direction: rtl;

}

.microbescontainer .reset{
    display: inline-block;
    position: relative;
    bottom: 15px;
    cursor: pointer;
    font-size: 36px;
}
#achievement{
    opacity: 0;
    position: absolute;
    bottom: 50px;
    left: 0px;
    max-width: 200px;
    margin: 0 auto;
    background-color: #222222;
    color: white;
    padding: 10px 50px;
    border-radius: 30px;
    left: 0;
    right: 0;
    transition: opacity 1s;
    pointer-events:none;
}
#achievement.visible{
    opacity: 0.8;
}
#achievement .title{
    opacity: 0.5
}

#achievement .name{
    font-size: 1.5em
}
#achievement .blurb{
    opacity:0.5;
    font-size: 0.8em;
}

.menuAchievement{
    --size:30px;
    width: var(--size);
    height: var(--size);
    background-color: #777777;
    display: inline-block;
    margin-right: 10px;
    border-radius: 3px;


}
.menuAchievement:hover .menuAchievementName,
.menuAchievement:focus .menuAchievementName {
    opacity: 1;
}
.menuAchievement.done{
    background-color: #73f273;
}
.menuAchievement .menuAchievementName{
    opacity: 0;
    pointer-events: none;
    background-color:#888888;
    position:absolute;
    margin-top: var(--size);
    padding:10px;
    min-width:200px;
    left: 0;
}

